<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.majors.paranshusinghal.krishi">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/leaves71"
        android:installLocation="auto"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name=".ContentClass"
            android:authorities="com.majors.paranshusinghal.krishi.phones"
            android:exported="false" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" />

        <activity
            android:name=".TabActivity"
            android:label="@string/title_activity_scrolling1"
            android:parentActivityName=".cropList"
            android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.majors.paranshusinghal.krishi.cropList" />
        </activity>

        <activity
            android:name=".cropList"
            android:label="@string/title_activity_cropList"
            android:parentActivityName=".MainActivity" >
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.majors.paranshusinghal.krishi.MainActivity" />
        </activity>

        <activity
            android:name=".NewsActivity"
            android:label="@string/title_activity_news" />
        <activity android:name=".web_view" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.majors.paranshusinghal.krishi.MainActivity" />
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.majors.paranshusinghal.krishi.LoginActivity" />
        </activity>
        <activity
            android:name=".SellerDashboardActivity"
            android:label="@string/title_activity_dashboard"
            android:parentActivityName=".LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.majors.paranshusinghal.krishi.LoginActivity" />
        </activity>
        <activity
            android:name=".BuyerSearchResult"
            android:label="@string/title_activity_buyer_dashboard"
            android:parentActivityName=".BuyerDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.majors.paranshusinghal.krishi.BuyerDashboardActivity" />
        </activity>
        <activity
        android:name=".BuyerDashboardActivity"
        android:label="@string/title_activity_buyer_dashboard"
        android:parentActivityName=".LoginActivity">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.majors.paranshusinghal.krishi.LoginActivity" />
        </activity>

        <activity
            android:name=".MinimumSupportPrice"
            android:label="@string/title_activity_msp"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.majors.paranshusinghal.krishi.MainActivity" />
        </activity>
    </application>

</manifest>
